* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(7, 214, 145);
}
#main-div {
    background-color: white;
    text-align: center;
    padding: 5rem 3rem;
    border-radius: 5px;
    max-width: 600px;
}

.content-div {
    display: flex;
    gap: 0.9rem;
}
input {
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
    font-size: 1.2rem;
    padding: 0.3rem 0.9rem;
    border-radius: 5px;
}

button {
    font-size: 1.2rem;
    padding: 0.3rem 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
}

button:hover {
    background-color: transparent;
    color: purple;
    border: 1px solid purple;
}

p {
    margin-top: 2rem;
    font-size: 1.3rem;
}
@media screen and (max-width: 620px) {
    #main-div {
        margin: 0 3rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        padding: 5rem 3rem;
        border-radius: 5px;
    }
    .content-div {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
    }
}